Repository ilyalehchylin/educats-xamarin, pull requests merged in 2022-11, with the labels that each got.

#220 [PR] Delete account & various fixes
  source/EduCATS/Networking/Links.cs
  source/EduCATS/Pages/Login/ViewModels/LoginPageViewModel.cs
  source/EduCATS/Pages/Parental/Statistics/ChooseSubjectPage/ViewModels/ParentalsStatsPageViewModel.cs
  source/EduCATS/Pages/Settings/Base/ViewModels/SettingsPageViewModel.cs
  source/EduCATS/Pages/Statistics/Base/ViewModels/StatsPageViewModel.cs
Labels: bug, feature

#221 [PR] Release 2.2.6
  .github/release-drafter.yml
  .github/workflows/build.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  README.md
  source/EduCATS.Android/EduCATS.Android.csproj
  source/EduCATS.Android/Resources/drawable/icon_settings_logout_dark.png
  source/EduCATS.UnitTests/EduCATS.UnitTests.csproj
  source/EduCATS.iOS/EduCATS.iOS.csproj
  source/EduCATS.iOS/Resources/Dark.xcassets/Contents.json
  source/EduCATS.iOS/Resources/Dark.xcassets/icon_settings_logout_dark.imageset/Contents.json
  source/EduCATS.iOS/Resources/Dark.xcassets/icon_settings_logout_dark.imageset/icon_settings_logout_dark@1x.png
  source/EduCATS.iOS/Resources/Dark.xcassets/icon_settings_logout_dark.imageset/icon_settings_logout_dark@2x.png
  source/EduCATS.iOS/Resources/Dark.xcassets/icon_settings_logout_dark.imageset/icon_settings_logout_dark@3x.png
  source/EduCATS/App.cs
  source/EduCATS/Constants/GlobalConsts.cs
  source/EduCATS/Controls/RoundedListView/RoundedListView.cs
  source/EduCATS/Data/DataAccess.cs
  source/EduCATS/Data/DataAccessCallbacks.cs
  source/EduCATS/Data/Models/User/DeleteAccountModel.cs
  source/EduCATS/EduCATS.csproj
  source/EduCATS/Helpers/Forms/Pages/AppPages.cs
  source/EduCATS/Helpers/Forms/Pages/Interfaces/IPages.cs
  source/EduCATS/Localization/be.json
  source/EduCATS/Localization/de.json
  source/EduCATS/Localization/en.json
  source/EduCATS/Localization/lt.json
  source/EduCATS/Localization/pl.json
  source/EduCATS/Localization/ru.json
  source/EduCATS/Networking/AppServices/AppServices.cs
  source/EduCATS/Networking/Links.cs
  source/EduCATS/Networking/RequestController.cs
  source/EduCATS/Networking/Servers.cs
  source/EduCATS/Pages/Login/ViewModels/LoginPageViewModel.cs
  source/EduCATS/Pages/Login/Views/LoginPageView.cs
  source/EduCATS/Pages/Main/MainPageView.cs
  source/EduCATS/Pages/Parental/FindGroup/ViewModels/FindGroupPageViewModel.cs
  source/EduCATS/Pages/Parental/Statistics/ChooseSubjectPage/ViewModels/ParentalsStatsPageViewModel.cs
  source/EduCATS/Pages/Parental/Statistics/ChooseSubjectPage/Views/ParentalsStatsPageView.cs
  source/EduCATS/Pages/Settings/Base/ViewModels/SettingsPageViewModel.cs
  source/EduCATS/Pages/Settings/Base/Views/SettingsPageView.cs
  source/EduCATS/Pages/Settings/Fonts/Views/FontsPageView.cs
  source/EduCATS/Pages/Statistics/Base/ViewModels/StatsPageViewModel.cs
  source/EduCATS/Pages/Statistics/Students/ViewModels/StudentsPageViewModel.cs
  source/EduCATS/Properties/Resources.Designer.cs
  source/EduCATS/Properties/Resources.resx
  source/EduCATS/Properties/launchSettings.json
  source/EduCATS/Themes/Templates/DarkTheme.cs
  source/EduCATSTests/EduCATSTests.csproj
  source/EduCATSTests/Pages/Registration/ViewModels/RegistrationPageViewModelTests.cs
Labels: release

#227 [PR] Fix for pre-release pipeline
  source/EduCATS.Android/EduCATS.Android.csproj
  source/EduCATS.Android/Properties/AndroidManifest.xml
  source/EduCATS.UnitTests/EduCATS.UnitTests.csproj
  source/EduCATS/EduCATS.csproj
Labels: bug, android, release, github-actions
